<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<solution>
		<add key="disableSourceControlIntegration" value="true" />
	</solution>
	<packageRestore>
		<!--Allow NuGet to download missing packages -->
		<add key="enabled" value="True" />
		<!-- Automatically check for missing packages during build in Visual Studio -->
		<add key="automatic" value="True" />
	</packageRestore>
	<packageSources>
		<!--To inherit the global NuGet package sources remove the <clear/> line below -->
		<!--<clear />-->
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
		<add key="BravoTest Source" value="http://test.bravoinstall.com:7000/nuget/nuget" />
		<add key="Dedic Source" value="http://VM-DV-HS07-0002:8089/nuget" />
		<!--<add key="Local Source" value="D:/Temp/nuget" />-->
	</packageSources>
</configuration>
